<div class="section-page">
    <h2 class="section-header">{{ locale.ghat_chakra_title }}</h2>

    <table class="kv-table">
        <tbody>
            <tr>
                <td>{{ locale.ghat_month }}</td>
                <td>{{ ghat.month }}</td>
            </tr>
            <tr>
                <td>{{ locale.ghat_tithi }}</td>
                <td>{{ ghat.tithi }}</td>
            </tr>
            <tr>
                <td>{{ locale.ghat_day }}</td>
                <td>{{ ghat.day }}</td>
            </tr>
            <tr>
                <td>{{ locale.ghat_nakshatra }}</td>
                <td>{{ ghat.nakshatra }}</td>
            </tr>
            <tr>
                <td>{{ locale.ghat_yog }}</td>
                <td>{{ ghat.yog }}</td>
            </tr>
            <tr>
                <td>{{ locale.ghat_karan }}</td>
                <td>{{ ghat.karan }}</td>
            </tr>
            <tr>
                <td>{{ locale.ghat_pahar }}</td>
                <td>{{ ghat.pahar }}</td>
            </tr>
            <tr>
                <td>{{ locale.ghat_moon }}</td>
                <td>{{ ghat.moon }}</td>
            </tr>
        </tbody>
    </table>
</div>
